
.home-banner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 20px;
}

.main-text-part {
    margin:10px 20px ;
    text-align: left;
}
.res-name{
    font-size: 65px;
    font-weight: 900;
    color: #E02C6D;
}
.food-name{
    font-size: 50px;
    font-weight: 900;
    color: black;
}

.main-text-part p {
    color: black;
    font-size: 23px;
    font-weight: 600;
}
.review-container{
    margin-bottom: 50px;
   
}
.review-container button {
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
    background-color: lightsalmon;
    color: black;
}

.review-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;

}


@media screen and (max-width: 480px) {
    .home-body{
        
    }
    .home-banner{
        grid-template-columns: 1fr;
        width: 70% ;
    }
    .review-part{
        grid-template-columns: 1fr;

    }
  }